html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'Inter';
    src: url("../Terra/fonts/InterSemiBold.woff2") format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../Terra/fonts/InterBold.woff2") format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../Terra/fonts/InterLight.woff2") format('woff2');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../Terra/fonts/InterMedium.woff2") format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../Terra/fonts/InterRegular.woff2") format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Inter', sans-serif;
}

:root {
    --color-light: #fff;
    --color-grey: #838383;
    --color-dark: #1d1d1f;
    --offset: 190px;
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.button {
    background-color: var(--color-light);
    color: var(--color-dark);
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-align: center;
    padding: 20px;
    min-width: 180px;
}

.button--light {
    background-color: var(--color-light);
    color: var(--color-dark);
    transition: background-color 0.2s linear;
}

.button--light:hover {
    background-color: #838383;
    color: #fff;
}

.button--dark {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.button--dark:hover {
    background-color: var(--color-grey);
    color: var(--color-dark);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
  }

/* ------------- Hero -------------- */

.logo {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: var(--color-light);
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 39px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__block {
    display: flex;
    align-items: center;
}

.header__search {
    margin-right: 35px;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-light);
    transition: color 0.2s linear;
}

.nav__link:hover {
    color: #3be744;
}

.nav__item:not(:last-child) {
    margin-right: 35px;
}

.header button {
    width: 24px;
    height: 24px;
}

.header button svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero {
    background-image: url(images/01_hero/hero_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 320px;
    padding-bottom: 40px;
    height: 100vh;
    min-height: 900px;
}

.hero__title {
    margin: 0;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
    color: var(--color-light);
    max-width: 936px;
}

.hero__text {
    margin: 0;
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-light);
    max-width: 468px;
}

/* ------------- About -------------- */

.about__top {
    padding: var(--offset) 0;
}

.about__item:not(:last-child) {
    margin-bottom: 60px;
}

.completed__value {
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 140%;
    color: var(--color-dark);
}

.completed__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-grey);
}

.about__title {
    margin: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 140%;
    color: var(--color-dark);
    margin-bottom: 60px;
}

.about__text {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-dark);
}

.about__text:not(:last-child) {
    margin-bottom: 30px;
}

.about__video {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 630px;
}

.about__video video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
}

.about__play--hidden {
    display: none;
}

.about__play svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* ------------- Portfolio -------------- */

.portfolio-item__col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.portfolio-item__title {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: var(--color-grey);
}

.portfolio-item__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-dark);
}

.portfolio__list {
    padding: var(--offset) 0;
}

.portfolio-item:not(:last-child) {
    margin-bottom: 120px;
}

.portfolio-item__text {
    margin-bottom: 60px;
}


/* ------------- Quote -------------- */


.quote__title {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-grey);
    margin-bottom: 50px;
}

.quote__content {
    margin: 0;
}

.quote__text {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 150%;
    color: var(--color-dark);
    max-width: 825px;
    margin-bottom: 30px;
}

.quote__author {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-dark);
}

.quote__author span {
    color: var(--color-grey);
}


/* ------------- Services -------------- */


.services {
    padding-bottom: var(--offset);
}

.services__image {
    padding: var(--offset) 0;
    width: 100%;
    height: 900px;
    object-fit: cover;
}

.services-item {
    border-top: 1px solid rgba(29, 29, 31, 0.4);
    padding: 40px 0;
}

.services-item__title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: var(--color-dark);
}

.services-item__text {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-grey);
}


/* ------------- Footer -------------- */


.footer {
    background-color: var(--color-dark);

}

.footer__col {
    margin: 0;
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__address {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-grey);
    margin-bottom: 30px;
}

.footer__title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: var(--color-light);
    margin-bottom: 10px;
}

.footer__logo {
    display: inline-block;
    margin-bottom: 48px;
}

.social {
    display: flex;
    align-items: center;
}

.social__item:not(:last-child) {
    margin-right: 20px;
}

.social__link {
    display: block;
    width: 40px;
    height: 40px;
}

.social__link svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer__form {
    width: 100%;
    position: relative;
}

.footer__input {
    width: 100%;
    padding: 24px 0;
    padding-right: 35px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--color-grey);
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--color-light);
}

.footer__input::placeholder {
    color: var(--color-grey);
}

.footer__button {
    position: absolute;
    bottom: 24px;
    right: 0;
    width: 24px;
    height: 24px;
}

.footer__button svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}




