html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'Inter';
    src: url("../Terra/fonts/InterSemiBold.woff2") format('woff2');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../Terra/fonts/InterBold.woff2") format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../Terra/fonts/InterLight.woff2") format('woff2');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../Terra/fonts/InterMedium.woff2") format('woff2');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("../Terra/fonts/InterRegular.woff2") format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Inter', sans-serif;
}